/*
Name: Joshua Abreu
File Name:style.css
Date:3/7/22
*/

/* CSS reset */



#css1, #css2, #css3 {
    width: 30%;
    float: left;
    padding: 0 1%;
}

    /* Style rule
    for body */
body {
    padding: 2%;
    background-color: #d1d1e0;

    }

    header h1 {
        font-size: 3em;
        font-family: Georgia, Times, serif;
        padding: 3%;
        color: #47476b;
        text-align: center;

}

/* Style rule
for main content */

main {
    padding: 2%;
    font-family: Geneva, Arial, sans-serif;
    overflow: auto;
    font-style: italic;
    color: #47476b;
    font-weight: bold;
    }
    main h3 {
        padding-top: 2%;
        font-size: 2em;
    }
    main p {
        font-size: 1.25em;

}

/* Style rule
for navigation area */

nav {
    background-color: #47476b;
    text-decoration: none;
}


 nav ul {

list-style-type: none;
 margin: 0;
 padding: 0;
  overflow: hidden;
 /* text-align: center; */

}



 nav li {
    display: block;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin:0;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
     font-weight: bold;
     float: left;
}

nav li a {
  display: block;
  color: #e3eaf8;
   padding: 0.5em 2em;
   text-decoration: none;
   text-align: center;
 }

/* Style rule
for footer content */


footer {
text-align: center;
font-size: 0.85em;
color: #47476b;
padding: 1% 0;
border-top: 3px solid #47476b;
}
