<!DOCTYPE html>
<!--
	Student Name: Joshua Abreu
	File Name: index.html
	Date: 3/7/22
-->

<!-- CSS Reset -->

body, header, nav, main, footer, img, h1, h3{
  margin:0;
  padding:0;
  border:0;
}

<!-- Style rule
for body and image, -->

body {
  background-color: #e3eaf8
}

img{
    display: block;
    width:100%;
    max-width:600px;
  }

    <!-- Style rule
    for header content -->
h1{
  font-size: 3em;
  font-family: "Georgia" Times, Serif;
  text-align: center;
  padding: 3%;
  color: #101a2d;
}

<!-- Style rule
for navigation area -->
nav{
  background-color: #1d396d

}
nav ul{
  list-style-type: none;
  text-align: center;
  margin:0;
}

nav li{
  display: inline;
  font-size: 1.5em;
  font-family: "Verdana", Arial, sans-serif,
  font-weight: bold;
}

nav li a{
  display: block;
  color: #e3eaf8
  padding-top: .5em;
  padding-bottom:.5em;
  padding-left: 2em;
  padding-right 2em;
  text-decoration: none;
}

<!-- Style rule
for main content -->

main{
  padding:2%;
  font-family: "Geneva", Arial, sans-serif,
  overflow: auto;
}

main p{
  font-size: 1.25em;
}

h3{
  padding-top: 2%;
  font-size: 2em;
}

#image {
  width: 45%;
  float: left;
  padding: 1%;

  #group {
  width: 45%;
  float: right;
}
  .external {
    color: #1d396d;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
  }

  <!-- Style rule
  for footer content -->

  footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #1d396d;
    color: #e3eaf8;
    padding: 0 1% 0 1%;
  }

  footer p {
    color: #e3eaf8;
    text-decoration: none;
  }


<html lang="en">
<head>
	<title></title>
	<meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

	<!-- Header -->
	<header>

	</header>

	<!-- Nav -->
	<nav>
		<p><a href="index.html">Home</a>
		<a href="#">Link 1</a>
		<a href="#">Link 2</a>
		<a href="#">Link 3</a></p>
	</nav>

	<!-- Main content area -->
	<main>

        <div id="image">
            <img src="images/word-cloud.png" alt="word cloud of CSS properties" height="460" width="800">
        </div>

        <div id="group">

            <h3>CSS Working Group</h3>
            <p>The <a href="https://www.w3.org/Style/CSS/members" target="_blank">CSS Working Group</a>, part of the W3C, sets the standards for CSS. The group meets on a regular basis to update the standards. Many of these documents are known as working drafts.</p>

            <p>Instead of releasing CSS versions, such as CSS 1 and 2, the group has changed its  approach for CSS updates.  The CSS Working Group has broken CSS into modules to define parts of CSS. The group now publishes CSS Snapshots, which include the latest updates to CSS. The group intends to publish these snapshots every one to two years. The latest CSS Snapshot is <a href="https://www.w3.org/TR/css-2018/" class="external" target="_blank">CSS Snapshot 2018</a>.</p>

            <p>Visit <a href="https://www.w3.org/Style/CSS/" class="external" target="_blank">W3C</a> for the latest CSS updates.</p>

        </div>

	</main>

	<!-- Footer -->
	<footer>
		<p>Student Name: </p>
		<p>&copy; Copyright 2021. All Rights Reserved.</p>
	</footer>

</body>
</html>
