
/*
	Student Name: Joshua Abreu
	File Name: index.html
	Date: 3/7/22
*/

/* CSS Reset */

body, header, nav, main, footer, img, h1, h3{
  margin:0;
  padding:0;
  border:0;
}

/* Style rule
for body and image, */

body {
  background-color: #e3eaf8
}

img{
    display: block;
    width:100%;
    max-width:600px;
  }

    /* Style rule
    for header content */
h1{
  font-size: 3em;
  font-family: "Georgia", Times, Serif;
  text-align: center;
  padding: 3%;
  color: #101a2d;
}

/* Style rule
for navigation area */
nav{
  background-color: #1d396d

}
nav ul{
  list-style-type: none;
  text-align: center;
  margin:0;
  overflow: hidden;
}

nav li{
  display: inline;
  font-size: 1.5em;
  font-family: "Verdana", Arial, sans-serif;
  font-weight: bold;
list-style-type: none;
float: left;
}

nav li a{
  display: block;
  color: #e3eaf8;
  padding-top: .5em;
  padding-bottom:.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  text-align: center;

}

/* Style rule
for main content */

main{
  padding:2%;
  font-family: "Geneva", Arial, sans-serif;
  overflow: auto;
}

main p{
  font-size: 1.25em;
}

h3{
  padding-top: 2%;
  font-size: 2em;
}

#image {
  width: 45%;
  float: left;
  padding: 1%;

  #group {
  width: 45%;
  float: right;
}
  .external {
    color: #1d396d;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
  }

  /* Style rule
  for footer content */

  footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #1d396d;
    color: #e3eaf8;
    padding: 0 1% 0 1%;
  }

  footer p {
    color: #e3eaf8;
    text-decoration: none;
  }
